* {
    padding: 0;
    margin: 0;
}

.hero {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-image: url("./img/donna-elliot-qFqacQCqHS4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.txt-container {
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}

.header {
    color: white;
    font-size: 2rem;
    text-transform: capitalize;
    max-width: 378px;
}

.content {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: white;
    max-width: 471px;
}

.clock {
    display: flex;
    gap: 1rem;
    color: #fff;
}

.clock .time-txt {
    border: none;
    background-color: #fff;
    color: black;
    opacity: 65%;
    padding: .1rem .3rem;
    font-weight: bold;
    font-size: 3.5rem;
    border-radius: 10px;
}

.time .colon {
    font-weight: bold;
    font-size: 3rem;
}

.time p {
    text-transform: uppercase;
    margin-top: .3rem;
    font-weight: bold;
    text-align: center;
}


.input {
    padding: 0 3rem;
    display: flex;
    align-items: center;
}

.input .email-content {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: black;
}

.input .email-content::placeholder {
    font-size: 1rem;
    color: black;
    padding-left: .2rem;
}

.input button {
    font-size: 1rem;
    padding: .3rem 1.5rem;
    margin: .9rem;
    text-transform: uppercase;
    background-color: #af8814;
    color: white;
    border: none;
    cursor: pointer;
}

.message {
    padding: 0 3rem;
    font-size: .8rem;
    position: absolute;
    bottom: 68px;
    transition: opacity 2s ease;
}

.message.success {
    color: #189e38;
}

.message.warning {
    color: #f8be12;
}

.message.error {
    color: #e60a20;
}

.message.fade-out {
    opacity: 0;
}